In [2]:
import os
import pandas as pd

/var/folders/xh/_q4grmbx5wv2fs3fc3vrkwmc0000gn/T/ipykernel_20544/3571106454.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
path = '/Users/macbook/Dropbox/Mac/Documents/Pro/Data_Analyst/Sim_Racing_Players/data/interim/sim_racing_games-1.0.pkl'
df = pd.read_pickle(path)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24225 entries, 0 to 25355
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game             24225 non-null  object
 1   datetime         24225 non-null  datetime64[s]
 2   players          24225 non-null  int64
 3   average_players  24225 non-null  int64
 4   twitch_viewers   24225 non-null  int64
 5   month            24225 non-null  int64
 6   year             24225 non-null  int64
 7   weekday          24225 non-null  object
dtypes: datetime64[s](1), int64(5), object(2)
memory usage: 1.7+ MB

In [8]:
round(df.describe())

,datetime,players,average_players,twitch_viewers,month,year
count,24225,24225.0,24225.0,24225.0,24225.0,24225.0
mean,2020-03-23 14:09:44,7831.0,1351.0,1476.0,7.0,2020.0
min,2013-01-01 00:00:00,0.0,0.0,0.0,1.0,2013.0
25%,2018-07-05 00:00:00,1348.0,0.0,39.0,4.0,2018.0
50%,2020-08-06 00:00:00,3576.0,0.0,337.0,7.0,2020.0
75%,2022-05-05 00:00:00,9673.0,0.0,1329.0,10.0,2022.0
max,2023-12-31 00:00:00,81096.0,44392.0,127965.0,12.0,2023.0
std,NaN,10260.0,4088.0,4308.0,3.0,3.0